# read more on https://www.codingforentrepreneurs.com/shorts/how-i-use-redis-for-new-projects-with-docker-compose/
services:
    rabbitmq:
        image: rabbitmq:latest
        environment:
            RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
            RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASSWORD}
        volumes:
            - rabbitmq_data:/var/lib/rabbitmq
        networks:
            - backend

    web:
        build: .
        image: web
        container_name: web
        command: >
            sh -c "cd src &&
                python manage.py migrate &&
                gunicorn --bind 0.0.0.0:8000 --workers 3 cfehome.wsgi:application"
        volumes:
        - .:/app
        ports:
        - "8000:8000"
        depends_on:
        - rabbitmq
        environment:
        - CELERY_BROKER_URL=amqp://${RABBITMQ_USER}:${RABBITMQ_PASSWORD}@rabbitmq:${RABBITMQ_PORT}//
        - DEBUG=True
    
    celery_worker:
        build: .
        image: celery-worker
        container_name: celery-worker
        command: >
            sh -c "cd src && celery -A cfehome worker --loglevel=info -E"
        volumes: 
            - .:/app
            - /opt/celery/media:/app/src/media
        depends_on:
            - rabbitmq
        environment:
            - CELERY_BROKER_URL=amqp://${RABBITMQ_USER}:${RABBITMQ_PASSWORD}@rabbitmq:${RABBITMQ_PORT}//
            - DEBUG=True
        networks:
            - backend
    
    celery_beat:
        build: .
        image: celery-beat
        container_name: celery-beat
        command: >
            sh -c "cd src && celery -A cfehome beat --loglevel=info"
        volumes:
            - .:/app
        depends_on:
            - rabbitmq
        environment:
            - CELERY_BROKER_URL=amqp://${RABBITMQ_USER}:${RABBITMQ_PASSWORD}@rabbitmq:${RABBITMQ_PORT}//
            - DEBUG=True
        networks:
            - backend

volumes:
    rabbitmq_data:

networks:
    backend:
        driver: bridge
